span {
  display: block;
  font-size: 20px;
  font-family: Roboto, serif;
  margin-right: 10px;
}

.mat-icon {
  font-size: 15px;
}

.card {
  max-width: 500px;
  margin: 0 auto;
}
mat-form-field{
  width:400px !important;
}

